<script>
    import PropTypes from 'prop-types';
    import React from 'react';
    import MockMessagingModalContainer from './../ui/containers/mock_messaging_container';
</script>

{% extends "header.html" %}
{% load staticfiles %}

{% block title_description_block %}
<title>Advising Dashboard</title>
{% endblock %}

{% block og_block %}
<meta property="og:title" content=" Advising Dashboard" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Semesterly" />
<meta property="og:url" content="http://semester.ly/advising" />
<meta property="og:description" content="Now with a new and improved UI: find courses with friends, view course reactions, and use Advanced Search to find the course that fits all your needs. Alternatively, explore new options with our recommendation engine – helping you find new and exciting courses on the fly. Not sure if the class is worthwhile? Instantly see what your peers think, alongside detailed comments from past course evaluations." />
<meta property="fb:admins" content="535129063" />
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/advising.css'%}">
{% endblock %}

{% block body_block %}

{% endblock %}